<h1>Full Name: <%=@placeholder.full_name%></h1>
<br />
<h1>Street Address: <%=@placeholder.street_address%></h1>
<br />
<h1>City: <%=@placeholder.city%></h1>
<br />
<h1>State: <%=@placeholder.state%></h1>
<br />
<h1>Postal Code: <%=@placeholder.postal_code%></h1>
<br />
<h1>Country: <%=@placeholder.country%></h1>
<br />
<h1>Email Address: <%=@placeholder.email_address%></h1>
<br />
<h1>Username: <%=@placeholder.username%></h1>
<br />
